<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <!--Menü-->
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item routerLink="/kategoriedetails">Kategoriedetails</button>
    <button mat-menu-item routerLink="/kategorieliste">Kategorieliste</button>
    <button mat-menu-item routerLink="/produktdetails">Produktdetails</button>
    <button mat-menu-item routerLink="/produktliste">Produktliste</button>
  </mat-menu>

  <span>Product Manager Frontend</span>
  <span class="example-spacer"></span>

  <!--Kategorien-->
  <button *pmShowAsAdmin (click)="onpageshow" mat-button [matMenuTriggerFor]="categoriesMenu">Kategorie</button>
  <mat-menu #categoriesMenu="matMenu">
    <button mat-menu-item routerLink="/admin/kategorieerstellen">Kategorie erstellen</button>
    <button mat-menu-item routerLink="/admin/kategoriebearbeiten">Kategorie bearbeiten</button>
    <button mat-menu-item routerLink="/admin/kategorieentfernen">Kategorie entfernen</button>
  </mat-menu>

  <!--Produkte-->
  <button *pmShowAsAdmin (click)="onpageshow" mat-button [matMenuTriggerFor]="productsMenu">Produkte</button>

  <mat-menu #productsMenu="matMenu">
    <button mat-menu-item routerLink="/admin/produkterstellen">Produkt erstellen</button>
    <button mat-menu-item routerLink="/admin/produktbearbeiten">Produkt bearbeiten</button>
    <button mat-menu-item routerLink="/admin/produktentfernen">Produkt entfernen</button>
  </mat-menu>

  <!--Login und Registrieren-->
  <!-- Login Button zu Logout ändern-->
  <button mat-button routerLink="/auth/login">Login/Logout</button>
  <button mat-button routerLink="/auth/register">Registrieren</button>

  <!--Logout
  <button class="logout" mat-button routerLink="/auth/login">Logout</button>-->
</mat-toolbar>
