<div class="Titel">
  <p>Anmelden</p>
</div>

<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="logForm()" class="example-form">

      <mat-card-header>

      </mat-card-header>

      <!--E-Mail-->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <!--Passwort-->
      <mat-form-field appearance="fill" class="example-full-width password-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <!--Login und Registrierung-->
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-button mat-raised-button color="accent" [routerLink]="['/auth/register']">Registrieren</button>
      </div>
    </form>
  </div>
