<div class="Titel">
    <p>Kategorie entfernen</p>
</div>

<div class="container">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="col">
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="id" required>
                </mat-form-field>
            </div>
            <div class="row">
                <p>Wollen Sie die Kategorie wirklich löschen?</p>
            </div>
            <div class="row">
                <button mat-raised-button color="primary" type="submit">Speichern</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
