.homepage {
  text-align: center;
  margin: 20px 0;
}

.product {
  width: 200px;
  margin: 0 10px 20px;
  text-align: center;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

  img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
