<div class="Titel">
  <p>Registrieren</p>
</div>



<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card>

      <mat-card-content>

        <!--Name-->
        <div class="row">
          <mat-form-field class="col">
            <mat-label>Vorname</mat-label>
            <input matInput formControlName="firstName" required>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Nachname</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
        </div>

        <!--Address-->
        <div class="row">
          <p>Adresse</p>
        </div>
        <mat-form-field>
          <mat-label>Strasse</mat-label>
          <input matInput formControlName="street" required>
        </mat-form-field>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>PLZ</mat-label>
            <input matInput formControlName="zip" required>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Stadt</mat-label>
            <input matInput formControlName="city" required>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Land</mat-label>
          <input matInput formControlName="country" required>
        </mat-form-field>

        <!--Kontaktnummer-->
        <div class="row with-margin">
          <p>Kontaktnummer</p>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>Telefon</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Mobiltelefon</mat-label>
            <input matInput formControlName="mobilePhone">
          </mat-form-field>
        </div>

        <!--Login-->
        <div class="row">
          <p>Login</p>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>E-Mail</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Passwort</mat-label>
          <input matInput formControlName="password" required type="password">
        </mat-form-field>
          </div>

        <!--AGB und Datenschutz-->
        <div class="row">
          <mat-checkbox class="col">
            <label>
              Ich akzeptiere die
              <a href="/rechtliches/datenschutz" target="_blank">AGB</a> und die
              <a href="/rechtliches/datenschutz" target="_blank">Datenschutzerklärung</a>.
            </label>
          </mat-checkbox>
        </div>

        <!--Registrieren-->
        <div class="row">
          <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Registrieren</button>
        </div>

      </mat-card-content>
    </mat-card>
  </form>
</div>
