<p>admin works!</p>

<!--
<ul>
  <li><a routerLink="/admin/produkt/erstellen">Produkt erstellen</a></li>
  <li><a routerLink="/admin/produkt/bearbeiten">Produkt bearbeiten</a></li>
  <li><a routerLink="/admin/produkt/entfernen">Produkt entfernen</a></li>
  <li><a routerLink="/admin/kategorie/erstellen">Kategorie erstellen</a></li>
  <li><a routerLink="/admin/kategorie/bearbeiten">Kategorie bearbeiten</a></li>
  <li><a routerLink="/admin/kategorie/entfernen">Kategorie entfernen</a></li>
</ul>
-->
