<div class="container">
    <form>
        <mat-card>

            <mat-card-content>

                <div class="row">
                    <mat-form-field class="col">
                        <mat-label>ID</mat-label>
                        <input matInput formControlName="id" required>
                    </mat-form-field>
                </div>
                <div class="row">
                    <p>Wollen Sie das Produkt wirklich löschen?</p>
                </div>
                <div class="row">
                    <button mat-raised-button color="primary" type="submit">Entfernen</button>
                </div>

            </mat-card-content>
        </mat-card>
    </form>
</div>
