<div class="container">
  <form >
    <mat-card>

      <mat-card-content>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>SKU</mat-label>
            <input matInput formControlName="sku" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>Aktivität (true/false)</mat-label>
            <input matInput formControlName="active" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>Bild</mat-label>
            <input matInput formControlName="image" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>Beschreibung</mat-label>
            <input matInput formControlName="description" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>Preis</mat-label>
            <input matInput formControlName="price" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>Bestand</mat-label>
            <input matInput formControlName="stock" required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <mat-label>Kategorie-ID</mat-label>
            <input matInput formControlName="categoryId" required>
          </mat-form-field>
        </div>

        <div class="row">
          <button mat-raised-button color="primary" type="submit">Speichern</button>
        </div>

      </mat-card-content>
    </mat-card>
  </form>
</div>
